.navbar{
    background-color: #2D3142 !important;
}
.navbarAdmin{
   background-color: #34004D !important;
}
.customLogo{
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    letter-spacing: 7px;
  }
span{
    color: #EF8354;
    letter-spacing: 2px;

}