<app-navbar></app-navbar>
<div class="container">
    <main class="bg-light badge d-flex justify-content-center mt-5">
        <div class="d-flex justify-content-center mt-5">
            <div class=" d-flex container text-center m-5">
                <div class="d-flex  align-items-center col align-items-center row">
                    <div class="rounded-circle ">
                        <img height="150em" width="auto" src="assets/img/userIcon.png">
                        <p id="showNameSurname" class="fs-2 text-dark-emphasis mt-0"></p>
                        <p id="showEmail" class="fs-2 text-dark-emphasis mt-0"></p>
                    </div>
                </div>
                <div class="col bottomAct line-between-columns">
                    <div class="ml-0 link-left">
                        <a class="btn fw-bold col-12 " role="button" data-bs-toggle="button" href="#">Regresar</a>
                    </div>
                    <p></p>
                    <form class="w-100 m-5" object="" action="" method="post" (ngSubmit)="updateUsuario(userForm)" #userForm="ngForm">
                        <div class="col-12  container">
                            <div class="input-group mb-4 ">
                                <input type="text" id="nombreTextField" class="form-control form-control-lg mr-4"
                                    placeholder="Nombres" aria-label="Name" for="nombre_usuario" id="nombre_usuario"
                                    name="nombre_usuario" [(ngModel)]="user.nombre_usuario">
                                <input type="text" id="apellidoTextField" class="form-control form-control-lg mr-4"
                                    placeholder="Apellidos" aria-label="Surname" for="apellido_usuario"
                                    id="apellido_usuario" name="apellido_usuario" [(ngModel)]="user.apellido_usuario">
                            </div>
                            <input type="number" class="form-control form-control-lg mb-4" placeholder="DNI"
                                aria-label="DNI" for="dni" id="dni" name="dni" [(ngModel)]="user.dni">
                            <input type="email" id="correoTextField" class="form-control form-control-lg mb-4"
                                placeholder="Correo Electronico" aria-label="Email" for="correo" id="correo"
                                name="correo" [(ngModel)]="user.correo">
                            <input type="password" class="form-control form-control-lg mb-4" placeholder="Contraseña"
                                aria-label="Password" for="clave" id="clave" name="clave" [(ngModel)]="user.clave">
                            <button class=" ml-0 col-12 btn btn-secondary mb-1 mb-4 p-3 fw-bold fs-5"
                                type="submit">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>