<app-navbar></app-navbar>
<br>
<div class="mt-5 container">
  <div class="row my-3">
    <!-- Productos y formulario en la misma fila -->
    <div class="col-md-8">
      <h1>Productos</h1>
      <div class="row">
        <div *ngFor="let objProducto of productos" class="col-md-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{objProducto.idproducto}} | {{objProducto.nombre}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{objProducto.descripcion}}</h6>
              <p class="card-text">s/.{{objProducto.precio}}</p>
              <button (click)="agregarFila(objProducto)" class="card-link btn btn-success">Agregar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Detalle-->
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Detalle</h5>
          <div class="form-group">
            <table id="detalleTable" class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <!-- Filas generadas dinámicamente con JavaScript -->
              </tbody>
            </table>
            <div>
              <strong>Total General: <span id="totalGeneral">0.00</span> PEN</strong>
            </div>
            <button (click)="redirigir()" type="submit" class="btn btn-primary mt-2">Enviar</button>
            <button (click)="limpiarDetalle()" class="btn btn-secondary mt-2 ms-2">Limpiar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
